	.top-contain-right-table tr:first-child {
	background-color: #4d4d4d;
}

.top-contain-right-table tr:nth-child(2) td:nth-child(2n+1) {
	background-color: #E5E5E4;
}

.top-contain-right-table tr:nth-child(3) td {
	border-color:#4C4C4C;
}

.top-contain-right-table tr:nth-child(3) td:nth-child(2) {
	border-color:#4C4C4C;
}