* {
	font-size: 11px;
	-pdf-keep-with-next: true;
	font-family: "TH Sarabun New";
}

p {
	margin-bottom: -14px;
}

@font-face {
    font-family: "TH Sarabun New";
	src: url("/static/PROJECTAPP/font/THSarabunNew.ttf");
}

@font-face {
    font-family: "TH Sarabun New";
	src: url("/static/PROJECTAPP/font/THSarabunNew-Bold.ttf");
	font-weight: bold;
}