* {
	font-size: 20px;
	font-family: "TH Sarabun New";
}

p {
	margin-bottom: -34px;
}

@font-face {
    font-family: "TH Sarabun New";
	src: url("/static/PROJECTAPP/font/THSarabunNew.ttf");
}

@font-face {
    font-family: "TH Sarabun New";
	src: url("/static/PROJECTAPP/font/THSarabunNew-Bold.ttf");
	font-weight: bold;
}