#bg-color-1 {
	background-color: #ca7c65;
}

#bg-color-2 {
	background-color: #fef3ed;
}

#bg-color-3 {
	border-color:#ca7c65;
}

#bg-color-4 {
	background-color: #586188;
}

#bg-color-5 {
	background-color: #F5F0F7;
}