@page { 
	size: 842px 1191px;
}

#eng-words {
	font-size: 9px;
}

td {
	height: 53px;
	width: 113px;
}

/*
*/
#thai-words {
	border: 1px solid;
	border-bottom: 0;
	padding-top: 15px;
	padding-left: 10px;
}

#eng-words {
	border: 1px solid;
	border-top: 0;
	padding-bottom: 11px;
	padding-left: 10px;
}

