@page { 
	size: 546px 773.5px;

    @frame {
        -pdf-frame-content: left;
        /*-pdf-frame-border: 1;*/
        right: 3cm;
        width: 5cm;
        top: 1cm;
        height: 1cm;
    }
}

h1, h2, h3, h4 { /* Don't add an outline to the document */
    -pdf-outline: false;
}

.border {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.top_image {
    zoom: 80%;
}