* {
	margin: 0;
	padding: 0;
}

@page {
	size: 1191px 1366px;
}

#top-contain-left-table td {
	height: 30px;
	vertical-align: top;
}

#top-contain-left-table td:first-child {
	width: 350px;
}

#top-contain-left-table td:nth-child(2) {
	width: 199px;
}

#top-contain-right-table p:first-child {
	padding-top: 5px;
}

#top-contain-right-table p:nth-child(2) {
	padding-bottom: 5px;
}


#top-contain-right-table td {
	width: 95px;
}

#bottom-top-right-table td{
	padding: 5px;
}

#bottom-bottom-table td {
	width: 228px;
	margin-top: -5px;
	margin-bottom: -5px;
}