<!-- this is for base html we use -->
{% extends "PROJECTAPP/template1.html" %}

<!-- this is for title -->
{% block title %}LPC{% endblock %}

<!-- this is for directory of css -->
{% block style %}
    @frame {
        -pdf-frame-content: left;
        /*-pdf-frame-border: 1;*/
        left: 24px;
        top: 58px;
        width: 49px;
        height: 84px;
    }
	
	@frame {
        -pdf-frame-content: head-left-line;
        left: 90px;
        top: 58px;
		width: 1px;
    }
	
	@frame {
        -pdf-frame-content: middle;
        /*-pdf-frame-border: 1;*/
        left: 120px;
        top: 40px;
    }
	
	@frame {
        -pdf-frame-content: right;
        /*-pdf-frame-border: 1;*/
        left: 230px;
        top: 55px;
		width: 400px;
    }
{% endblock %}

<!-- this is for content -->
{% block headleft %}
	<div id="contain">
		<div id="left">
			<img src="/static/PROJECTAPP/img/logo-bw.jpg" width="100%"/>
		</div>
		<div id="head-left-line" style="background-color: #000; padding-bottom: 48px;">&nbsp;</div>
		<div id="middle">
			<h2 style="font-size:50px; margin-bottom: -40px;">LPC</h2>
			<h3 style="font-size:40px; margin-top: -40px; margin-bottom: -30px;">SERVICE</h3>
			<h5 style="font-size:30px; margin-top: -30px;">AND CARE</h5>
		</div>
		<div id="right">
			<div>
				<p id="thai-title" style="font-weight:bold; margin-bottom: -15px;">
					บริษัท แอล.พี.เอ็น.ดีเวลลอปเมนท์ จำกัด (มหาชน)
				</p>
				<p id="eng-title" style="font-weight:bold; margin-top: -15px; margin-bottom: -15px;">
					LPC SOCIAL ENTERPRISE CO.,LTD.
				</p>
			</div>
			<div>
				<p style="margin-top: -10px; line-height: -30px; font-size: 15px;">
					1168/109 ชั้น36 อาคารลุมพินี ทาวเวอร์ ถนนพระราม 4 แขวงทุ่งมหาเมฆ เขตสาทร กรุงเทพมหานคร 10120 โทร 02-285-5011-6 แฟกซ์ 02-285-5017
				</p>
			</div>
		</div>
	</div>
{% endblock%}
