<!-- this is for base html we use -->
{% extends "PROJECTAPP/template1.html" %}

<!-- this is for title -->
{% block title %}LPP{% endblock %}

<!-- this is for directory of css -->
{% block style %}
    @frame {
        -pdf-frame-content: left;
        /*-pdf-frame-border: 1;*/
        left: 24px;
        top: 58px;
        width: 49px;
        height: 84px;
    }
	
	@frame {
        -pdf-frame-content: head-left-line;
        left: 90px;
        top: 58px;
		width: 1px;
    }
	
	@frame {
        -pdf-frame-content: middle;
        /*-pdf-frame-border: 1;*/
        left: 120px;
        top: 58px;
    }
	
	@frame {
        -pdf-frame-content: right;
        /*-pdf-frame-border: 1;*/
        left: 240px;
        top: 58px;
		width: 350px;
    }
{% endblock %}

<!-- this is for content -->
{% block headleft %}
	<div id="contain">
		<div id="left">
			<img src="/static/PROJECTAPP/img/logo-bw.jpg" width="100%"/>
		</div>
		<div id="head-left-line" style="background-color: #000; padding-bottom: 62px;">&nbsp;</div>
		<div id="middle">
			<h2 style="font-size:34px; margin-bottom: -15px;">LPP</h2>
			<h3 style="font-size:21px; margin-top: -15px; margin-bottom: -10px;">PROPERTY</h3>
			<h5 style="font-size:13px; margin-top: -10px;;">MANAGEMENT</h5>
		</div>
		<div id="right">
			<div>
				<p id="thai-title" style="font-weight:bold; margin-bottom: -5px;">
					บริษัท แอล.พี.เอ็น.ดีเวลลอปเมนท์ จำกัด (มหาชน)
				</p>
				<p id="eng-title" style="font-weight:bold; margin-top: -5px; margin-bottom: -5px;">
					LUMPINI PROPERTY MANAGEMENT CO.,LTD.
				</p>
			</div>
			<div id="address" style="margin-top: -5px;">
				1168/109 ชั้น36 อาคารลุมพินี ทาวเวอร์ ถนนพระราม 4 แขวงทุ่งมหาเมฆ เขตสาทร กรุงเทพมหานคร 10120 โทร 02-285-5011-6 แฟกซ์ 02-285-5017
			</div>
		</div>
	</div>
{% endblock%}
