<!-- this is for base html we use -->
{% extends "PROJECTAPP/template2.html" %}

<!-- this is for title -->
{% block title %}LPN 2{% endblock %}

<!-- this is for directory of css -->
{% block css %}{{block.super}}
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/lpn2-pst2.css">
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/pst2.css">
{% endblock %}
{% block style %}
    @frame {
        -pdf-frame-content: left;
        /*-pdf-frame-border: 1;*/
        left: 24px;
        top: 21px;
        width: 49px;
        height: 84px;
    }
	
	@frame {
        -pdf-frame-content: right;
        /*-pdf-frame-border: 1;*/
		margin-bottom: 0;
        left: 110px;
        top: 21px;
    }	
	
    @frame {
        -pdf-frame-content: left2;
        /*-pdf-frame-border: 1;*/
        left: 24px;
        top: 714px;
        width: 49px;
        height: 84px;
    }
	
	@frame {
        -pdf-frame-content: right2;
        /*-pdf-frame-border: 1;*/
		margin-bottom: 0;
        left: 110px;
        top: 714px;
    }
{% endblock %}

<!-- this is for content -->
{% block headleft %}
	<div id="contain">
		<div id="left">
			<img src="/static/PROJECTAPP/img/logo-d.jpg" width="100%"/>
		</div>
		<div id="right">
			<div>
				<p id="color-blue">Thai Words of Companion</p>
				<p  id="color-blue">PORNSANTI CO.,LTD.</p>
			</div>
			<div id="address2" style="font-weight: light;">
				Thai words of address.......................................
			</div>
		</div>
	</div>
{% endblock%}

{% block headleft2 %}
	<div id="contain2">
		<div id="left2">
			<img src="/static/PROJECTAPP/img/logo-d.jpg" width="100%"/>
		</div>
		<div id="right2">
			<div>
				<p id="color-blue">Thai Words of Companion</p>
				<p  id="color-blue">PORNSANTI CO.,LTD.</p>
			</div>
			<div id="address2" style="font-weight: light;">
				Thai words of address.......................................
			</div>
		</div>
	</div>
{% endblock%}
