<!-- this is for base html we use -->
{% extends "PROJECTAPP/base.html" %}

<!-- this is for directory of css -->
{% block css %}{{block.super}}
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/template1.css">
{% endblock %}

<!-- this is for content -->
{% block content %}{{block.super}}
	<div class="div-base-page">
		<div class="head">
			<div class="head-left">
				{% block headleft %}{% endblock%}
			</div>
			<div class="head-right">
				<div>
					<p class="thai-words">?????????????? / ??????????????</p>
					<p class="eng-words">RECEIPT / TAX INVOICE</p>
				</div>
			</div>
		</div>
		<div class="content-table">
			<table>
				<tr>
					<td colspan="4">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">RECIVED FROM</p>
					</td>
					<td colspan="3">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">RECEIPT / TAX INVOICE NO.</p>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">ADDRESS</p>
					</td>
					<td colspan="3">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">DATE</p>
					</td>
				</tr>
				<tr>
					<td class="no-border">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">CUSTOMER NO.</p>
					</td>
					<td class="blank-col no-border">
						&nbsp;
					</td>
					<td  class="no-border">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">CONTACT NO.</p>
					</td>
					<td class="blank-col no-border">
						&nbsp;
					</td>
					<td colspan="3">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">PROJECT</p>
					</td>
				</tr>
				<tr>
					<td class="no-border">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">TAX ID</p>
					</td>
					<td class="blank-col no-border">
						&nbsp;
					</td>
					<td  class="no-border">
						<p class="thai-words">??????????????<p>
						<p class="eng-words">BRANCH</p>
					</td>
					<td class="blank-col no-border">
						&nbsp;
					</td>
					<td colspan="3">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">UNIT NO.</p>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">DESCRIPTION</p>
					</td>
					<td>
						<p class="thai-words">??????????????</p>
						<p class="eng-words">AMOUNT</p>
					</td>
					<td>
						<p class="thai-words">??????????????</p>
						<p class="eng-words">VAT</p>
					</td>
					<td>
						<p class="thai-words">??????????????</p>
						<p class="eng-words">NET</p>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="blank-col blank-row">
						&nbsp;
					</td>
					<td class="blank-col blank-row">
						&nbsp;
					</td>
					<td class="blank-col blank-row">
						&nbsp;
					</td>
					<td class="blank-col blank-row">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="3" class="no-border">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">ALPHABET</p>
					</td>
					<td class="no-border">
						<p class="thai-words">??????????????</p>
						<p class="eng-words">TOTAL</p>
					</td>
					<td>
						&nbsp;
					</td>
					<td>
						&nbsp;
					</td>
					<td>
						&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="7" class="foot-table">
						<p class="eng-words">????????????????????????????????????????????????????????????????????????????????????????????????</p>
						<p class="eng-words">in case of payment paid cheque, this receipt will be valid only when the bank honour this cheque</p>
					</td>
				</tr>
				<tr>
					<td colspan="7" class="foot-table foot2-table">
						<p class="eng-words">digital signed by ??????????</p>
					</td>
				</tr>
			</table>
		</div>
		<div class="foot">
			<p class="eng-words">????????????????????????????????????????????????????????????????????????????????????????????????</p>
		</div>
	</div>
{% endblock %}
