<!-- this is for base html we use -->
{% extends "PROJECTAPP/base.html" %}

<!-- this is for directory of css -->
{% block css %}{{block.super}}
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/template2.css">
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/template2-color.css">
	<style>		
		@page{
			{% block style %}{% endblock %}
			
			@frame {
				-pdf-frame-content: top;
				/*-pdf-frame-border: 1;*/
				left: 26px;
				top: 21px;
			}
			
			@frame {
				-pdf-frame-content: middle;
				/*-pdf-frame-border: 1;*/
				top: 563px;
			}
			
			@frame {
				-pdf-frame-content: bottom;
				/*-pdf-frame-border: 1;*/
				left: 26px;
				top: 714px;
			}
			
			@frame {
				-pdf-frame-content: top-contain-left-bottom;
				/*-pdf-frame-border: 1;*/
				left: 26px;
				top: 128px;
			}
			
			@frame {
				-pdf-frame-content: top-contain-right;
				/*-pdf-frame-border: 1;*/
				left: 598px;
				top: 21px;
			}
			
			@frame {
				-pdf-frame-content: top-foot;
				/*-pdf-frame-border: 1;*/
				left: 26px;
				top: 507px;
				width: 1191px;
			}
			
			@frame {
				-pdf-frame-content: bottom-top-left-content;
				/*-pdf-frame-border: 1;*/
				left: 26px;
				top: 795px;
				width: 536px;
			}
			
			@frame {
				-pdf-frame-content: bottom-top-left-content-div;
				left: 26px;
				top: 795px;
				width: 536px;
			}
			
			@frame {
				-pdf-frame-content: bottom-top-right;
				/*-pdf-frame-border: 1;*/
				left: 602px;
				top: 694px;
			}
						
			@frame {
				-pdf-frame-content: bottom-bottom-table;
				/*-pdf-frame-border: 1;*/
				left: 26px;
				top: 973px;
			}
				
			@frame {
				-pdf-frame-content: bottom-bottom-bottom;
				/*-pdf-frame-border: 1;*/
				left: 26px;
				top: 1333px;
			}
				
			@frame {
				-pdf-frame-content: table-items;
				left: 598px;
				top: 105px;
			}
		}
	</style>
{% endblock %}

<!-- this is for content -->
{% block content %}{{block.super}}
	<div id="div-base-page">
		<div id="top">
			<div id="top-contain">
				<div id="top-contain-left">
					<div id="top-contain-left-top">{% block headleft %}{% endblock %}</div>
					<div id="top-contain-left-bottom">
						<table id="top-contain-left-table">
							<tr>
								<td>
									<span class="dark-gray bold">เลขที่ใบเสร็จรับเงิน</span><span class="light-gray">RECEIPT NO.</span>
								</td>
								<td>
									<span class="dark-gray bold">วันที่</span><span class="light-gray">DATE</span>
								</td>
							</tr>
							<tr>
								<td>
									<!--RECEIPT NO.--> &nbsp;
								</td>
								<td>
									<!--Date--> &nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">โครงการ</span><span class="light-gray">PROJECT</span>
								</td>
								<td>
									<span class="dark-gray bold">ยูนิตเลขที่</span><span class="light-gray">UNIT NO.</span>
								</td>
							</tr>
							<tr>
								<td>
									<!--PROJECT--> &nbsp;
								</td>
								<td>
									<!--UNIT NO--> &nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">ได้รับเงินจาก</span><span class="light-gray">RECEIVED FROM</span>
								</td>
								<td>
									<span class="dark-gray bold">รหัสลูกค้า</span><span class="light-gray">CUSTOMER NO.</span>
								</td>
							</tr>
							<tr>
								<td>
									<!--RECEIVED FROM--> &nbsp;
								</td>
								<td>
									<!--CUSTOMER NO--> &nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">ที่อยู่</span><span class="light-gray">ADDRESS</span>
								</td>
								<td>
									<span class="dark-gray bold">เลขที่สัญญา</span><span class="light-gray">CONTRACT NO.</span>
								</td>
							</tr>
							<tr>
								<td rowspan=5>
									<!--ADDRESS FROM--> &nbsp;
								</td>
								<td>
									<!--CONTRACT NO--> &nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">เลขประจำตัวผู้เสียภาษี</span><span class="light-gray">TAX ID</span>
								</td>
							</tr>
							<tr>
								<td>
									<!--TAX ID--> &nbsp;
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">สาขา</span><span class="light-gray">BRANCH</span>
								</td>
							</tr>
							<tr>
								<td>
									<!--BRANCH--> &nbsp;
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div id="top-contain-right">
					<p style="text-align: right; padding-right: 21px;"><span class="dark-gray bold">ใบเสร็จรับเงิน</span><span class="light-gray">(RECEIPT)</span></p>
					<table id="top-contain-right-table">
						<tr style="text-align: center;">
							<td id="bg-color-1" colspan="3">
								<p class="white bold">รายละเอียด</p>
								<p class="light-gray-2">DESCRIPTION</p>
							</td>
							<td id="bg-color-1">
								<p class="white bold" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;">จำนวนเงิน</p>
								<p class="light-gray-2" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;">AMOUNT</p>
							</td>
							<td id="bg-color-1">
								<p class="white bold" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;">ภาษีมูลค่าเพิ่ม</p>
								<p class="light-gray-2" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;">VAT 7%</p>
							</td>
							<td id="bg-color-1">
								<p class="white bold" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;">รวมสุทธิ</p>
								<p class="light-gray-2" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;">NET</p>
							</td>
						</tr>
						<tr style="height: 330px;">
							<td id="bg-color-2">&nbsp;</td>
							<td id="bg-color-2">&nbsp;</td>
							<td id="bg-color-2">&nbsp;</td>
							<td>&nbsp;</td>
							<td id="bg-color-2">&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2">
								<p id="bg-color-3" class="dark-gray bold" style="border-top: 1px solid; padding-left: 5px;">ตัวอักษร</p>
								<p id="bg-color-3" class="light-gray" style="border-bottom: 1px solid; padding-left: 5px;">ALPHABET</p>
							</td>
							<td>
								<p id="bg-color-3" class="dark-gray bold" style="border-top: 1px solid;">&nbsp;</p>
								<p id="bg-color-3" class="light-gray" style="border-bottom: 1px solid;">&nbsp;</p>
							</td>
							<td>
								<p id="bg-color-3" class="dark-gray bold" style="border-top: 1px solid;">&nbsp;</p>
								<p id="bg-color-3" class="light-gray" style="border-bottom: 1px solid;">&nbsp;</p>
							</td>
							<td style="text-align: right;">
								<p id="bg-color-3" class="dark-gray bold" style="border-top: 1px solid; border-right: 1px solid; padding-right: 5px;">รวม</p>
								<p id="bg-color-3" class="light-gray" style="border-bottom: 1px solid; border-right: 1px solid; padding-right: 5px;">TOTAL</p>
							</td>
							<td>
								<p id="bg-color-3" class="dark-gray bold" style="border-top: 1px solid;">&nbsp;</p>
								<p id="bg-color-3" class="light-gray" style="border-bottom: 1px solid;">&nbsp;</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="top-foot" style="text-align: center;">
				<p class="dark-gray bold" style="margin-bottom: -15px;">ใบเสร็จรับเงินฉบับนี้จะสมบูรณ์ต้องมีชื่อของผู้รับเงิน และเมื่อบริษัทได้รับเงินตามเช็คที่ระบุในใบนี้เรียบร้อยแล้ว</p>
				<p class="light-gray" style="margin-top: -15px;">NO RECEIPT WITHOUT COLLECTOR'S NAME AND THAI RECEIPT IS NOT VALID UNTIL CHEQUE CLEAR</p>
			</div>
		</div>
		<div id="middle" style="border-top: 1px solid; border-bottom: 1px dashed;">
			<div class="light-gray" style="padding-top: 84px; padding-bottom: 0px; padding-left: 26px; margin-bottom: -128px;">
				หมายเหตุ: เอกสารนี้ได้จัดทำและส่งข้อมูลให้แก่กรมสรรพากรด้วยวิธีทางอิเล็กทรงนิกส์
			</div>
			<div class="light-gray" style=" border: none; padding-top: 70px; padding-bottom: 39px; padding-left: 595px; margin-top: -132px;">
				Digital Signed by ?????????????????????????? (??????????)
			</div>
		</div>
		<div id="bottom">
			<div id="bottom-top">
				<div id="bottom-top-left">
					<div>{% block headleft2 %}{% endblock %}</div>
					<div id="bottom-top-left-content-div" style="border: 1px solid; border-radius: 50px; padding-bottom: 132px;">&nbsp;</div>
					<div id="bottom-top-left-content">
						<div>
							<p class="dark-gray bold" style="padding-top: 10px; padding-left: 10px; margin-bottom: -15px;">ชื่อ/สกุล</p>
							<p class="light-gray" style="margin-top: -15px; margin-bottom: -50px; padding-left: 10px;">NAME SURNAME</p>
						</div>
						<div>
							<p class="light-gray" style="padding-left: 400px; margin-bottom: -15px; margin-top: -50px;">SERVICE CODE</p>
							<p class="light-gray" style="padding-left: 400px; margin-bottom: -15px; margin-top: -15px;">REF 1</p>
							<p class="light-gray" style="padding-left: 400px; margin-top: -15px;">REF 2</p>
						</div>
						<div>
							<p class="light-gray" style="text-align: center;">----Barcode----</p>
						</div>
					</div>
				</div>
				<div id="bottom-top-right">
					<div id="text-align-right">
						<p class="dark-gray bold" style="text-align: right; padding-right: 26px; margin-bottom: -15px;">แบบฟอร์มการชำระเงิน</p>
						<p class="light-gray" style="text-align: right; padding-right: 26px; margin-top: -15px; margin-bottom: 40px">PAY IN SLIP</p>
					</div>
					<p class="light-gray" style="margin-bottom: -15px;">สาขาที่รับฝาก....................วันที่.....................................</p>
					<p class="light-gray" style="margin-bottom: -15px; margin-top: -15px">เพื่อนำเข้าบัญชี บริษัท แอล.พี.เอ็น.ดีเวลลอปเมนท์ จำกัด (มหาชน)</p>
					<table id="bottom-top-right-table">
						<tr>
							<td style="width: 95px;">
								<img src="/static/PROJECTAPP/img/squere-row1.jpg" style=""/>
							</td>
							<td class="light-gray" style="padding: 3px; width: 230px;">ธนาคารกสิกรไทย</td>
							<td class="light-gray" style="padding: 3px;">#064-1-06167-0</td>
						</tr>
						<tr>
							<td style="width: 95px;">
								<img src="/static/PROJECTAPP/img/squere-row2.jpg" style=""/>
							</td>
							<td class="light-gray" style="padding: 3px; width: 230px;">ธนาคารกรุงเทพ</td>
							<td class="light-gray" style="padding: 3px;">BR.NO.0124 Comp. Code 12430 Service Code LPN</td>
						</tr>
						<tr>
							<td style="width: 95px;">
								<img src="/static/PROJECTAPP/img/squere-row3.jpg" style=""/>
							</td>
							<td class="light-gray" style="padding: 3px; width: 230px;">ธนาคารกรุงศรีอยุธยา</td>
							<td class="light-gray" style="padding: 3px;">#256-0-01263-5</td>
						</tr>
					</table>
				</div>
			</div>
			<div id="bottom-bottom">
				<table id="bottom-bottom-table" style="text-align: center;">
					<tr>
						<td colspan="2" id="bg-color-4">
							<p class="white bold" style="padding-top: 5px;">ยอดค้างชำระ</p>
							<p class="light-gray">OUTSTANDING PAYMENT</p>
						</td>
						<td id="bg-color-4">
							<p class="white bold" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding-top: 5px;">ยอดชำระรอบปัจจุบัน</p>
							<p class="light-gray" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;">CURRENT PAYMENT</p>
						</td>
						<td id="bg-color-4">
							<p class="white bold" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding-top: 5px;">ยอดรวมที่ต้องชำระ</p>
							<p class="light-gray" style="border-left: 1px solid #ffffff; border-right: 1px solid #ffffff;">TOTAL PAYMENT</p>
						</td>
						<td id="bg-color-4">
							<p class="white bold" style="border-left: 1px solid #ffffff; padding-top: 5px;">วันครบกำหนดชำระ</p>
							<p class="light-gray" style="border-left: 1px solid #ffffff;">PAYMENT DUE DATE</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" id="bg-color-5" class="dark-gray bold"  style="border-left: 1px solid; padding-top: 5px;">จำนวนคงค้าง             งวด เป็นเงิน</td>
						<td>&nbsp;</td>
						<td id="bg-color-5">&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px;">หมายเลขเช็ค</p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">CHEQUE NO.</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px;">เช็คลงวันที่</p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">CHEQUE DUE DATE</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px;">ชื่อธนาคาร</p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">BANK</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px;">สาขา</p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">BRANCH</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px;">จำนวนเงิน</p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">AMOUNT</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
						<td style="vertical-align: top;">
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; border-bottom: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
						<td>
							<p class="dark-gray bold" style="border: 1px solid; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
						<td style="vertical-align: top;">
							<p class="dark-gray bold" style="border: 1px solid; border-top: none; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; border-bottom: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
					</tr>
					<tr>
						<td class="light-gray">
							<p style="border: 1px solid; padding: 8px;">
								<img src="/static/PROJECTAPP/img/squere.jpg" style="zoom: 7%;"/>&nbsp;
								เงินสด/CASH
							</p>
						</td>
						<td colspan="3" class="light-gray" style="text-align: left;">
							<p style="border: 1px solid; padding: 8px">จำนวนเงินเป็นตัวอักษร</p>
						</td>
						<td style="vertical-align: top;">
							<p class="dark-gray bold" style="border: 1px solid; border-top: none; border-bottom: none; padding-top: 3px">&nbsp;<p>
							<p class="light-gray" style="border: 1px solid; border-top: none; padding-bottom: -3px;">&nbsp;</p>
						</td>
					</tr>
					<tr style="text-align: left;">
						<td colspan="4" class="light-gray" style="text-align: left;">
							<p style="border: 1px solid; border-bottom: none; padding-top: 6px; padding-left: 5px;">หมายเหตุ *กรณีชำระด้วยเช็ค การชำระมีผลสมบูรณ์ต่อเมื่อธนาคารเรียกเก็บเงินตามเช็คได้ และรับชำระเงินเฉพาะเช็คในเขตสำนักหักบัญชีกรุงเทพฯ เท่านั้น</p>
							<p style="border: 1px solid; border-top: none; padding-bottom: 6px; padding-left: 5px;">**โปรดเก็บสำเนาใบชำระเงินนี้ไว้เพื่อเป็นหลักฐานการชำระเงิน</p>
						</td>
						<td class="light-gray" style="vertical-align: bottom;">
							<p style="border: 1px solid; padding-top: 30px; padding-left: 5px;">ผู้รับเงิน.................</p>
						</td>
					</tr>
				</table>
				<div id="bottom-bottom-bottom">
					<div class="light-gray" style="padding-left: 84px; margin-bottom: -35px;">โครงการ</div>
					<div class="light-gray" style="padding-left: 497px; margin-top: -33px; margin-bottom: -33px;">ยูนิตเลขที่</div>
					<div class="light-gray" style="padding-left: 685px; margin-top: -33px; margin-bottom: -33px;">งวดที่</div>
					<div class="light-gray" style="padding-left: 956px; margin-top: -33px;">สำหรับธนาคาร</div>
				<div>
			</div>
		</div>
	</div>
	
	<!-- do your loop here -->
	<div id="table-items">
		<table>
			{% for item in line_items %}
			<tr">
				<td id="bg-color-2" style="width: 285px;">&nbsp;a</td>
				<td>&nbsp;b</td>
				<td id="bg-color-2">&nbsp;c</td>
				<td>&nbsp;d</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<!--------------------->
{% endblock %}
