<!-- this is for base html we use -->
{% extends "PROJECTAPP/base.html" %}

<!-- this is for directory of css -->
{% block css %}{{block.super}}
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/template1.css">
	<style>		
		@page{
			{% block style %}{% endblock %}
			
			@frame {
				-pdf-frame-content: head-right;
				/*-pdf-frame-border: 1;*/
				left: 612px;
				top: 100px;
				width: 200px;
			}
			
			@frame {
				-pdf-frame-content: content-table;
				/*-pdf-frame-border: 1;*/
				left: 24px;
				top: 192px;
			}
			
			@frame {
				-pdf-frame-content: foot;
				/*-pdf-frame-border: 1;*/
				left: 24px;
				top: 1121px;
			}
		}
	</style>
{% endblock %}

<!-- this is for content -->
{% block content %}{{block.super}}
	<div id="div-base-page">
		<div id="head">
			<div id="head-left">
				{% block headleft %}{% endblock%}
			</div>
			<div id="head-right"  style="border: 1px solid;">
				<div>
					<p id="thai-words" style="margin: 0; margin-bottom: -5px; border-bottom:none; padding-top: 15px; padding-left: 10px;">
						?????????????? / ??????????????
					</p>
					<p id="eng-words" style="margin: 0; margin-top: -5px;border-top:none; padding-left: 10px;">
						RECEIPT / TAX INVOICE
					</p>
				</div>
			</div>
		</div>
		<div id="content-table">
			<table>
				<tr>
					<td colspan="4">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">RECIVED FROM</p>
					</td>
					<td colspan="3">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">RECEIPT / TAX INVOICE NO.</p>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">??????????????</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">ADDRESS</p>
					</td>
					<td colspan="3">
						<p id="thai-words">??????????????</p>
						<p id="eng-words" style="border-bottom: none;">DATE</p>
					</td>
				</tr>
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="4">
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
					<td colspan="3">
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;<p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
				</tr>
				<!------------------------------------------->
				<tr>
					<td id="no-border">
						<p id="thai-words" style="border: none; border-left: 1px solid;">??????????????</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">CUSTOMER NO.</p>
					</td>
					<td id="blank-col no-border">
						&nbsp;
					</td>
					<td  id="no-border">
						<p id="thai-words" style="border: none;">??????????????</p>
						<p id="eng-words" style="border: none;">CONTACT NO.</p>
					</td>
					<td id="blank-col no-border">
						&nbsp;
					</td>
					<td colspan="3">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">PROJECT</p>
					</td>
				</tr>
				<tr>
					<td id="no-border">
						<p id="thai-words" style="border: none; border-left: 1px solid;">??????????????</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">TAX ID</p>
					</td>
					<td id="blank-col no-border">
						&nbsp;
					</td>
					<td  id="no-border">
						<p id="thai-words" style="border: none;">??????????????<p>
						<p id="eng-words" style="border: none;">BRANCH</p>
					</td>
					<td id="blank-col no-border">
						&nbsp;
					</td>
					<td colspan="3">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">UNIT NO.</p>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">DESCRIPTION</p>
					</td>
					<td>
						<p id="thai-words">??????????????</p>
						<p id="eng-words">AMOUNT</p>
					</td>
					<td>
						<p id="thai-words">??????????????</p>
						<p id="eng-words">VAT</p>
					</td>
					<td>
						<p id="thai-words">??????????????</p>
						<p id="eng-words">NET</p>
					</td>
				</tr>
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="4">
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
				</tr>
				<!------------------------------------------->
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="4">
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
				</tr>
				<!------------------------------------------->
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="4">
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
				</tr>
				<!------------------------------------------->
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="4">
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
				</tr>
				<!------------------------------------------->
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="4">
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
				</tr>
				<!------------------------------------------->
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="4">
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid;">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
				</tr>
				<!------------------------------------------->
				<tr>
					<td colspan="3" id="no-border">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">ALPHABET</p>
					</td>
					<td id="no-border">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">TOTAL</p>
					</td>
					<td>
						<p id="thai-words">&nbsp;</p>
						<p id="eng-words">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words">&nbsp;</p>
						<p id="eng-words">&nbsp;</p>
					</td>
					<td>
						<p id="thai-words">&nbsp;</p>
						<p id="eng-words">&nbsp;</p>
					</td>
				</tr>
				<tr>
					<td colspan="7" id="">
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid; border-top: 1px solid; padding-top: 17px; padding-left: 10px; padding-bottom: -1px;">????????????????????????????????????????????????????????????????????????????????????????????????</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">in case of payment paid cheque, this receipt will be valid only when the bank honour this cheque</p>
					</td>
				</tr>
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="7" id="">
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid; padding-top: 20px; padding-left: 10px; padding-bottom: -1px;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid;">&nbsp;</p>
					</td>
				</tr>
				<!------------------------------------------->
				<tr>
					<td colspan="7" id="">
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid; border-top: 1px solid; padding-top: 26px;">&nbsp;</p>
					</td>
				</tr>
				<!--i tried to create a space for this columns.-->
				<tr>
					<td colspan="7" id="">
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid; padding-top: 20px; padding-left: 10px; padding-bottom: -1px;">&nbsp;</p>
						<p id="eng-words" style="border: none; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; text-align: right; padding-right: 10px;">digital signed by ??????????</p>
					</td>
				</tr>
				<!------------------------------------------->
			</table>
		</div>
		<div id="foot">
			<p id="eng-words" style="border: none">????????????????????????????????????????????????????????????????????????????????????????????????</p>
		</div>
	</div>
{% endblock %}
