<!-- this is for base html we use -->
{% extends "PROJECTAPP/base.html" %}

<!-- this is for directory of css -->
{% block css %}{{block.super}}
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/template2.css">
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/template2-color.css">
{% endblock %}

<!-- this is for content -->
{% block content %}{{block.super}}
	<div class="div-base-page">
		<div class="top">
			<div class="top-contain">
				<div class="top-contain-left">
					<div class="top-contain-left-top">{% block headleft %}{% endblock %}</div>
					<div class="top-contain-left-bottom">
						<table class="top-contain-left-table">
							<tr>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">RECEIPT NO.</span>
								</td>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">DATE</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">PROJECT</span>
								</td>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">UNIT NO.</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">RECEIVED FROM</span>
								</td>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">CUSTOMER NO.</span>
								</td>
							</tr>
							<tr>
								<td rowspan="3">
									<span class="dark-gray bold">?????????</span><span class="light-gray">ADDRESS</span>
								</td>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">CONTRACT NO.</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">TAX ID</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="dark-gray bold">?????????</span><span class="light-gray">BRANCH</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="top-contain-right">
					<p style="text-align: right;"><span class="dark-gray bold">?????????</span><span class="light-gray">(RECEIPT)</span></p>
					<table class="top-contain-right-table">
						<tr>
							<td>
								<p class="white bold">?????????????</p>
								<p class="light-gray-2">DESCRIPTION</p>
							</td>
							<td>
								<p class="white bold">?????????????</p>
								<p class="light-gray-2">AMOUNT</p>
							</td>
							<td>
								<p class="white bold">?????????????</p>
								<p class="light-gray-2">VAT 7%</p>
							</td>
							<td>
								<p class="white bold">?????????????</p>
								<p class="light-gray-2">NET</p>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td colspan="2">
								<p class="dark-gray bold">?????????????</p>
								<p class="light-gray">ALPHABET</p>
							</td>
							<td>
								<p class="dark-gray bold">??????</p>
								<p class="light-gray">TOTAL</p>
							</td>
							<td>&nbsp;</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="top-foot">
				<p class="dark-gray bold">???????????????????????????????????????????????????????????????????????????????????????????????????????????</p>
				<p class="light-gray">NO RECEIPT WITHOUT COLLECTOR'S NAME AND THAI RECEIPT IS NOT VALID UNTIL CHEQUE CLEAR</p>
			</div>
		</div>
		<div class="middle">
			<div class="light-gray">
				???????? : ???????????????????????????????????????
			</div>
			<div class="light-gray">
				Digital Signed by ?????????????????????????? (??????????)
			</div>
		</div>
		<div class="bottom">
			<div class="bottom-top">
				<div class="bottom-top-left"></div>
				<div class="bottom-top-right"></div>
			</div>
			<div class="bottom-bottom"></div>
		</div>
	</div>
{% endblock %}
