<!-- this is for base html we use -->
{% extends "PROJECTAPP/base.html" %}

<!-- this is for directory of css -->
{% block css %}{{block.super}}
	<link rel="stylesheet" type="text/css" href="/static/PROJECTAPP/css/template1.css">
{% endblock %}

<!-- this is for content -->
{% block content %}{{block.super}}
	<div id="div-base-page">
		<div id="head">
			<div id="head-left">
				{% block headleft %}{% endblock%}
			</div>
			<div id="head-right">
				<div>
					<p id="thai-words">?????????????? / ??????????????</p>
					<p id="eng-words">RECEIPT / TAX INVOICE</p>
				</div>
			</div>
		</div>
		<div id="content-table">
			<table>
				<tr>
					<td colspan="4">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">RECIVED FROM</p>
					</td>
					<td colspan="3">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">RECEIPT / TAX INVOICE NO.</p>
					</td>
				</tr>
				<tr>
					<td colspan="4" id="no-border td-address">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">ADDRESS</p>
					</td>
					<td colspan="3">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">DATE</p>
					</td>
				</tr>
				<tr>
					<td id="no-border">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">CUSTOMER NO.</p>
					</td>
					<td id="blank-col no-border">
						&nbsp;
					</td>
					<td  id="no-border">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">CONTACT NO.</p>
					</td>
					<td id="blank-col no-border">
						&nbsp;
					</td>
					<td colspan="3">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">PROJECT</p>
					</td>
				</tr>
				<tr>
					<td id="no-border">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">TAX ID</p>
					</td>
					<td id="blank-col no-border">
						&nbsp;
					</td>
					<td  id="no-border">
						<p id="thai-words">??????????????<p>
						<p id="eng-words">BRANCH</p>
					</td>
					<td id="blank-col no-border">
						&nbsp;
					</td>
					<td colspan="3">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">UNIT NO.</p>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">DESCRIPTION</p>
					</td>
					<td>
						<p id="thai-words">??????????????</p>
						<p id="eng-words">AMOUNT</p>
					</td>
					<td>
						<p id="thai-words">??????????????</p>
						<p id="eng-words">VAT</p>
					</td>
					<td>
						<p id="thai-words">??????????????</p>
						<p id="eng-words">NET</p>
					</td>
				</tr>
				<tr>
					<td colspan="4" id="blank-col blank-row">
						&nbsp;
					</td>
					<td id="blank-col blank-row">
						&nbsp;
					</td>
					<td id="blank-col blank-row">
						&nbsp;
					</td>
					<td id="blank-col blank-row">
						&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="3" id="no-border">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">ALPHABET</p>
					</td>
					<td id="no-border">
						<p id="thai-words">??????????????</p>
						<p id="eng-words">TOTAL</p>
					</td>
					<td>
						&nbsp;
					</td>
					<td>
						&nbsp;
					</td>
					<td>
						&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="7" id="foot-table">
						<p id="eng-words">????????????????????????????????????????????????????????????????????????????????????????????????</p>
						<p id="eng-words">in case of payment paid cheque, this receipt will be valid only when the bank honour this cheque</p>
					</td>
				</tr>
				<tr>
					<td colspan="7" id="foot-table foot2-table">
						<p id="eng-words">digital signed by ??????????</p>
					</td>
				</tr>
			</table>
		</div>
		<div id="foot">
			<p id="eng-words">????????????????????????????????????????????????????????????????????????????????????????????????</p>
		</div>
	</div>
{% endblock %}
